<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :call %><br>
    <%= f.text_field :call %>
  </div>
  <div class="field">
    <%= f.label :grid %><br>
    <%= f.text_field :grid %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :home_url %><br>
    <%= f.text_field :home_url %>
  </div>
  <div class="field">
    <%= f.label :qsl_info %><br>
    <%= f.text_field :qsl_info %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :more_info %><br>
    <%= f.text_field :more_info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
