<%= form_for(@griddb) do |f| %>
  <% if @griddb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@griddb.errors.count, "error") %> prohibited this griddb from being saved:</h2>

      <ul>
      <% @griddb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entity %><br>
    <%= f.text_field :entity %>
  </div>
  <div class="field">
    <%= f.label :log_of %><br>
    <%= f.text_field :log_of %>
  </div>
  <div class="field">
    <%= f.label :call_sign %><br>
    <%= f.text_field :call_sign %>
  </div>
  <div class="field">
    <%= f.label :ffma_count %><br>
    <%= f.number_field :ffma_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
