<h1>Listing griddbs</h1>

<table>
  <thead>
    <tr>
      <th>Entity</th>
      <th>Log of</th>
      <th>Call sign</th>
      <th>Ffma count</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @griddbs.each do |griddb| %>
      <tr>
        <td><%= griddb.entity %></td>
        <td><%= griddb.log_of %></td>
        <td><%= griddb.call_sign %></td>
        <td><%= griddb.ffma_count %></td>
        <td><%= link_to 'Show', griddb %></td>
        <td><%= link_to 'Edit', edit_griddb_path(griddb) %></td>
        <td><%= link_to 'Destroy', griddb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Griddb', new_griddb_path %>
