<p id="notice"><%= notice %></p>

<p>
  <strong>Entity:</strong>
  <%= @griddb.entity %>
</p>

<p>
  <strong>Log of:</strong>
  <%= @griddb.log_of %>
</p>

<p>
  <strong>Call sign:</strong>
  <%= @griddb.call_sign %>
</p>

<p>
  <strong>Ffma count:</strong>
  <%= @griddb.ffma_count %>
</p>

<%= link_to 'Edit', edit_griddb_path(@griddb) %> |
<%= link_to 'Back', griddbs_path %>
